.team-card {
  padding: 30px;
  position: relative;
  z-index: 10;
}

.team-card-container {
  background: radial-gradient(
    145.1% 102.55% at 0% 50%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(38.2676px);
  border: 3.19px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.47),
    #ffffff
  );
}
